body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    background-color: aquamarine; 
    color: white; 
    text-align: center;
}

.container{
    margin-top: 30px;
}

.timer {
    font-size:  56px;
    color: aqua;
    margin-bottom: 20px;
}

.controls{ 
    margin-top: 30px;
} 

.btn{
    padding: 10px 20px;
    color: blueviolet; 
    border: none;
    border-radius: 10px;
    cursor: pointer; 
    margin: 0 10px;
} 

.btn:hover{ 
    background-color: yellow;
} 

.btn:active{
    background-color: green;
}

h1{ 
    text-align: center;
}  

.row {
	box-sizing: border-box;
	background: lightgrey;
  padding:1em;
}

